<ion-view>
<div class="bar bar-footer bar-balanced">
  <div class="title">{{usuario.nome}}</div>
</div>
</ion-view>

<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Assentamento" icon-on="ion-ios-people" icon-off="ion-ios-people" ui-sref='content'>>
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Chamado" icon-on="ion-android-call" icon-off="ion-android-call" ui-sref='chamados'>
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Ouvidoria" icon-on="ion-clipboard" icon-off="ion-clipboard" ui-sref='ouvidorias'>>
    <!-- Tab 3 content -->
  </ion-tab>

  <ion-tab title="Processo" icon-on="ion-university" icon-off="ion-university" ui-sref='processos'>>
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>