<ion-view>

	<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
    	<h1 class="title">Gerência de Operações</h1>
    </ion-header-bar>
      <ion-content>
	      <div class="list list-inset">
				<label class="item item-input">
		        <input type="text" placeholder="usuário">
		        </label>
		        <label class="item item-input">
		        <input type="password" placeholder="senha">
		        </label>
		        <button class="button button-full button-assertive" ui-sref='procedimento'>
		        Entrar
		        </button>
	    	</div>
      </ion-content>
    </ion-pane>
	
</ion-view>