<ion-view>

	<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
    	<h1 class="title"><center>Gerência de Operações</center></h1>
    </ion-header-bar>
      <ion-content>
	      <div class="list list-inset">
				<label class="item item-input">
		        <input id='usuario' type="text" placeholder="usuário">
		        </label>
		        <label class="item item-input">
		        <input id='senha' type="password" placeholder="senha">
		        </label>
		        <button class="button button-full button-assertive" ng-click='entrar()'>
		        Entrar
		        </button>
	    	</div>
      </ion-content>
    </ion-pane>
	
</ion-view>