<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title"><center>{{titulo}}</center></h1>
    </ion-header-bar>
      <ion-content>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                Artigo
                </div>
                    <select ng-model="artigo" id="artigo">
                        <option></option>
                        <option>47</option>
                        <option>54</option>
                    </select>
            </label>

            <label class="item item-input item-select">
            <div class="input-label">
              Inciso
            </div>
                    <select ng-model="inciso" id="inciso">
                        <option></option>
                        <option>I</option>
                        <option>II</option>
                        <option>III</option>
                        <option>IV</option>
                        <option>V</option>
                        <option>VI</option>
                        <option>VII</option>
                        <option>VIII</option>
                        <option>IX</option>
                        <option>X</option>
                        <option>XI</option>
                        <option>XII</option>
                        <option>XIII</option>
                    </select>
            </label>
        </div>     

        <div class="multas">{{lista.artigo}}</div>
        <div class="multas">{{lista.texto}}</div>
        <div class="multas">{{lista.valor}}</div>
        <div class="multas">{{lista.pontos}}</div>


        <button class="button button-full button-assertive" ng-click="add()">
        Capitular
        </button>

         <button class="button button-full button-assertive" ng-click="confirm()">
        Confirmar
        </button>


        <button class="button button-full button-assertive" ng-click="clear()">
        Salvar
        </button>

        
        
      </ion-content>

        <div class="tabs tabs-icon-only" ui-sref='assentamento'>
        <a class="tab-item">
        <i class="icon ion-reply-all"></i>
        </a>
        </div>
    
    </ion-pane>
