	<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Procedimento</h1>
    </ion-header-bar>
      <ion-content>


      <div class="list">
	    	<label class="item item-input item-select">
          <div class="input-label">
          Procedimento:
          </div>
          <select ng-model="aco"  id="procedimento">
            <option>ouvidoria</option>
            <option>1746</option>
            <option>processo</option>
            <option>ofício</option>
          </select>
        </label>
        <label class="item item-input item-select">
                <div class="input-label">
                Ação:
                </div>
                    <select ng-model="acao"  id="acao">
                        <option>autorizado e autuado</option>
                        <option>autorizado e notificado</option>
                        <option>autorizado em conformidade</option>
                        <option>autorizado e apreendido </option>
                        <option>irregular e autuado</option>
                        <option>irregular e notificado</option>
                        <option>irregular e apreendido </option>
                        <option>não localizado</option>
                    </select>


            <!-- textbox de entrada do número do serviço-->        
            </label>
            <label class="item item-input" >
            <input id="chamado" type="text" placeholder="número" ng-model="chamado">
            </label>

      </div>

   	
		    <button class="button button-full button-assertive" ng-click="show()">
		    salvar
		    </button>

		    <div ng-hide="hide" id="map" data-tap-disabled="true"></div>
		    <div ng-hide="hide" id="titulo"></div>
		    <div ng-hide="hide"><center>{{data}}</center></div>

		    <button class="button button-full button-assertive" ng-click="reload()" ng-click="reload">
		    novo
		    </button>

        <div class="tabs tabs-icon-only" ui-sref='assentamento'>
        <a class="tab-item">
        <i class="icon ion-ios-people"></i>
        </a>
        </div>

      </ion-content>

    </ion-pane>

