	<ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Procedimento</h1>
    </ion-header-bar>
      <ion-content>

	    	<label class="item item-input item-select">
                <div class="input-label">
                Procedimento:
                </div>
                    <select ng-model="acao"  id="procedimento">
                        <option>chamado</option>
                        <option>ouvidoria</option>
                        <option>1746</option>
                        <option>processo</option>
                    </select>
            </label>


      	<div class="list">
				<label class="item item-input" >
		        <input id="chamado" type="text" placeholder="número" ng-model="chamado">
		        </label>
		        <label class="item item-input item-select">
                <div class="input-label">
                Ação:
                </div>
                    <select ng-model="acao"  id="acao">
                        <option>apreensão</option>
                        <option>interdição</option>
                        <option>notificação</option>
                        <option>não localizado</option>
                    </select>
            </label>

	    </div>

	    	
		    <button class="button button-full button-assertive" ng-click="show()">
		    salvar
		    </button>

		    <div ng-hide="hide" id="map" data-tap-disabled="true"></div>
		    <div ng-hide="hide" id="titulo"></div>
		    <div ng-hide="hide"><center>{{data}}</center></div>

		    <button class="button button-full button-assertive" ng-click="reload()" ng-click="reload">
		    novo
		    </button>

      </ion-content>
    </ion-pane>

    <ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Assentamento" icon-on="ion-ios-people" icon-off="ion-ios-people" ui-sref='assentamento'>>
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Procedimento" icon-on="ion-android-call" icon-off="ion-android-call" ui-sref='procedimento'>
    <!-- Tab 2 content -->
  </ion-tab>

 
</ion-tabs>